.body[b-0y0uxddjmv] {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f5f5;

}

.btn-brand[b-0y0uxddjmv] {
    background: #42AFB7;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
}

.form-signin[b-0y0uxddjmv] {
    width: 430px;
    padding: 15px;
    margin: 0 auto;
}



.form-signin .form-control[b-0y0uxddjmv] {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus[b-0y0uxddjmv] {
    z-index: 2;
}

.form-signin input[type="text"][b-0y0uxddjmv] {
    margin-bottom: 2.5rem;
    border-radius: 0;
}

.form-signin input[type="password"][b-0y0uxddjmv] {
    margin-bottom: 2rem;
    border-radius: 0;
}

input:focus[b-0y0uxddjmv] {
    color: #212529;
    background-color: #FFF;
    border-color: #86B7FE;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(13, 110, 253, .25);
}